2024/Dyr-El-python/.coverage
2025/Dyr-El-python/aoc_session.txt
2025/Dyr-El-python/__pycache__/**
2025/Dyr-El-python/tests/__pycache__/**
2025/Dyr-El-python/utils/__pycache__/**
2025/Dyr-El-python/d2025_*.txt
